@import url('https://fonts.googleapis.com/css?family-Montserra:400,700t&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
}
*{
  box-sizing:border-box;
}
nav{
  background-color:#111;
  padding :15px;
}
ul{
  display:flex;
  justify-content:center;
  margin:0;
  padding:0;
  list-style-type:none;
}
ul li a{
  color:#fff;
  padding :10px;
  
}
.container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  max-width:700px;
  margin : 0 auto;
}
h2{
  text-align:center;
}
footer{
  background-color:#111;
  color:#fff;
  padding:15px;
  text-align:center;
}
section{
  padding: 20px;
  margin: 15px auto 0;
}
.bg-red {
  background-color:#CF2920;
  color:#fff;
}
.social-ul{
  font-size:32px;
}
.img-div p{
  background-color:#eee;
  font-size:14px;
  margin:0;
  padding : 5px;
  text-align:center;
}
.video-wrapper{
  margin:10px;
}
.tribute-info{
  margin:0 10px;
  max-width:450px;
}
.resp-img{
  display:block;
  max-width:100%;
}